{% macro render_processor_receive(transition) -%}
    interface.rx_channel.messages.push_back(interface.tx_channel.get_last_message());
{%- endmacro %}

{% macro render_processor(transition) -%}
    {% set name = transition.trigger.id %}

    {%- if name == 'receive' -%}
    {{ render_processor_receive(transition) }}
    {%- else -%}
    // no processor found for {{ name }}
    {%- endif -%}
{%- endmacro %}
